#pragma once

// Copy this file to credentials.h and fill in your values.
// credentials.h is ignored by git.

// IP address of your MQTT broker (probably your Home Assistant host)
#define MQTT_BROKER_ADDR IPAddress(192, 168, 1, 100)
// Your MQTT user name
#define MQTT_BROKER_USER "homeassistant"
// Your MQTT password
#define MQTT_BROKER_PASS "YOUR_MQTT_PASSWORD"
// Your WiFi SSID
#define WIFI_SSID "YOUR_WIFI_SSID"
// Your WiFi password
#define WIFI_PASS "YOUR_WIFI_PASSWORD"
